{
    "extends": "react-app",
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": "error"
    },
    "overrides": [
      {
          "files": ["*.js", "*.jsx"],
          "rules": {
              "@typescript-eslint/explicit-function-return-type": "off"
          }
      }
  ]
  }